# Max Bot

MAX_BOT_TOKEN=<your bot token>

# database

CONN_STRING=Host=<db host>;Port=<db port>;Username=<db username>;Password=<db password>;Database=<db name>

CETRBOT_EMAIL=<email for certbot>
DOMAIN_NAME=<your domain name>
DATA_DIR=<path to directory where nginx/certbot data is stored (not in docker)>
